.submit-btn {
    padding:8px 16px;
    border-radius:4px;
    margin-left:8px;
    background-color:#ada397;
    border:2px solid #fff;
    color:#fff;
    font-weight:bold;
    transition: 0.2s;
}

.submit-btn:hover {
    background-color:rgb(248, 234, 234);
    color:#ada397;
}
