{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
<div class="container col-lg">
    <div class='row'>
        <a class='col-3' href='/data'><h1>data</h1></a>
        <a class='col-3' href='/dev'><h1>dev</h1></a>
        <a class='col-3' href='/region'><h1>régional</h1></a>
        <a class='col-3' href='/'><h1>BACK</h1></a>
    </div>
    <div class='row'>
        <div class="row mt-5 col-6">
            <p>something</p>
        </div>
        <div class="row mt-5 col-6">
            <p>quantité de poste selon les domaines</p>
            {{ div_count_domain_plot | safe}}
        </div>
    </div>
    <div class='row'>
        <div class="row mt-5 col-6">
            <p>ceci sera une représentation des salaires moyens selon postes</p>
            {{ div_avg_salary_per_job_plot | safe }}
        </div>
        <div class="row mt-5 col-6">
            <p>ceci sera une analyse des salaires moyen selon domaines sur la france</p>
            {{ div_variance_avg_sal_loc_plot | safe }}
        </div>
    </div>
</div>

{{ script_count_domain_plot | safe }}
{{ script_avg_salary_per_job_plot | safe }}
{{ script_variance_avg_sal_loc_plot | safe }}

{% endblock %}