{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="col-12">
            <h1>ANALYSE DE L'ÉTAT DES MÉTIERS DATA/DEV EN FRANCE</h1>
        </div>
        <div class="row mt-5">
            <p style="font-weight: 700">gros nombre moyen de salaire moyen sur tout dataset en K annuel</p>
        </div>
        <div class="row mt-5">
            <p>quantité de poste selon les domaines</p>
            {{ div_count_domain_plot|safe}}
        </div>
        <div class="row mt-5">
            <p>ceci sera une représentation des salaires moyens selon postes</p>
            {{ div_avg_salary_per_job_plot|safe }}
        </div>
        <div class="row mt-5">
            <p>ceci sera une analyse des salaires moyen selon domaines sur la france</p>
            {{ div_variance_avg_sal_loc_plot|safe }}
        </div>
    </div>

    {{ script_count_domain_plot|safe }}
    {{ script_avg_salary_per_job_plot|safe }}
    {{ script_variance_avg_sal_loc_plot|safe }}

{% endblock %}