<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_44a9db71774040e083ba319aa22209f3 {
                    position: relative;
                    width: 550.0px;
                    height: 550.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_44a9db71774040e083ba319aa22209f3" ></div>
        
</body>
<script>    
    
            var map_44a9db71774040e083ba319aa22209f3 = L.map(
                "map_44a9db71774040e083ba319aa22209f3",
                {
                    center: [47.0, 1.3],
                    crs: L.CRS.EPSG3857,
                    zoom: 5.55,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e34d9509713c42d48b8fbbc01df89bc0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_44a9db71774040e083ba319aa22209f3);
        
    
            var regular_polygon_marker_1202814083ad40c3a5fa6372aa5ffe5c = new L.RegularPolygonMarker(
                [48.864716, 2.349014],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 30, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_44a9db71774040e083ba319aa22209f3);
        
    
            regular_polygon_marker_1202814083ad40c3a5fa6372aa5ffe5c.bindTooltip(
                `<div>
                     Région de Paris. <br> Métropôle comprenant 7026.765 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_475cec5523af440caeeb1c8d985b7b0c = new L.RegularPolygonMarker(
                [44.8333, -0.5667],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 30, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_44a9db71774040e083ba319aa22209f3);
        
    
            regular_polygon_marker_475cec5523af440caeeb1c8d985b7b0c.bindTooltip(
                `<div>
                     Région de Bordeaux. <br> Métropôle comprenant 783.081 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_43985b4f3088487bb7303a13ba50699a = new L.RegularPolygonMarker(
                [45.75, 4.85],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 30, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_44a9db71774040e083ba319aa22209f3);
        
    
            regular_polygon_marker_43985b4f3088487bb7303a13ba50699a.bindTooltip(
                `<div>
                     Région de Lyon. <br> Métropôle comprenant 1381.349 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_a9a118ffd3f24a858c60c031a020f4f4 = new L.RegularPolygonMarker(
                [47.2173, -1.5534],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 30, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_44a9db71774040e083ba319aa22209f3);
        
    
            regular_polygon_marker_a9a118ffd3f24a858c60c031a020f4f4.bindTooltip(
                `<div>
                     Région de Nantes. <br> Métropôle comprenant 638.931 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_6ccde188bfdd4d119142e77f718750ee = new L.RegularPolygonMarker(
                [43.6043, 1.4437],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 30, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_44a9db71774040e083ba319aa22209f3);
        
    
            regular_polygon_marker_6ccde188bfdd4d119142e77f718750ee.bindTooltip(
                `<div>
                     Région de Toulouse. <br> Métropôle comprenant 762.956 habitants
                 </div>`,
                {"sticky": true}
            );
        
</script>