<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7fbe838bf0a44f04b3672758ed521fd8 {
                    position: relative;
                    width: 750.0px;
                    height: 750.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_7fbe838bf0a44f04b3672758ed521fd8" ></div>
        
</body>
<script>    
    
            var map_7fbe838bf0a44f04b3672758ed521fd8 = L.map(
                "map_7fbe838bf0a44f04b3672758ed521fd8",
                {
                    center: [47.0, 1.3],
                    crs: L.CRS.EPSG3857,
                    zoom: 5.55,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a63f40ab24d24205938217095022fd7e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            var regular_polygon_marker_f2768c1b3836430cafe8e65ad27ea296 = new L.RegularPolygonMarker(
                [48.864716, 2.349014],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 2.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 156.15033333333335, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_f2768c1b3836430cafe8e65ad27ea296.bindTooltip(
                `<div>
                     Région de Paris. <br> Métropôle comprenant 7026.765 habitants. <br> Densité de job 5 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_92e5daf352144be58d79c2d3c0a85237 = new L.RegularPolygonMarker(
                [48.864716, 2.349014],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 92.45743421052632, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_92e5daf352144be58d79c2d3c0a85237.bindTooltip(
                `<div>
                     Région de Paris. <br> Métropôle comprenant 7026.765 habitants. <br> Densité de job 455 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_c25150da54c84c9ca6857a9981a6ddd1 = new L.RegularPolygonMarker(
                [44.8333, -0.5667],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 2.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 17.4018, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_c25150da54c84c9ca6857a9981a6ddd1.bindTooltip(
                `<div>
                     Région de Bordeaux. <br> Métropôle comprenant 783.081 habitants. <br> Densité de job 7 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_8e1792fe0f3b4b8a9d95b629ac7eb5b8 = new L.RegularPolygonMarker(
                [44.8333, -0.5667],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 9.788512500000001, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_8e1792fe0f3b4b8a9d95b629ac7eb5b8.bindTooltip(
                `<div>
                     Région de Bordeaux. <br> Métropôle comprenant 783.081 habitants. <br> Densité de job 577 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_ed0021f9bcef4196b0f97c1643149e0f = new L.RegularPolygonMarker(
                [45.75, 4.85],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 2.4, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 30.69664444444444, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_ed0021f9bcef4196b0f97c1643149e0f.bindTooltip(
                `<div>
                     Région de Lyon. <br> Métropôle comprenant 1381.349 habitants. <br> Densité de job 6 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_fa7b7953e23b43789e56669768cd1d0f = new L.RegularPolygonMarker(
                [45.75, 4.85],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 18.417986666666668, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_fa7b7953e23b43789e56669768cd1d0f.bindTooltip(
                `<div>
                     Région de Lyon. <br> Métropôle comprenant 1381.349 habitants. <br> Densité de job 512 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_3228e19871fd4541ae9d22a0a00add20 = new L.RegularPolygonMarker(
                [47.2173, -1.5534],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 4.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 14.198466666666668, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_3228e19871fd4541ae9d22a0a00add20.bindTooltip(
                `<div>
                     Région de Nantes. <br> Métropôle comprenant 638.931 habitants. <br> Densité de job 12 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_50921331b32641379afb3451c264789e = new L.RegularPolygonMarker(
                [47.2173, -1.5534],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 8.874041666666669, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_50921331b32641379afb3451c264789e.bindTooltip(
                `<div>
                     Région de Nantes. <br> Métropôle comprenant 638.931 habitants. <br> Densité de job 886 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_1f62e9908d3c455680f9d577511eb773 = new L.RegularPolygonMarker(
                [43.6043, 1.4437],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 4.4, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 16.95457777777778, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_1f62e9908d3c455680f9d577511eb773.bindTooltip(
                `<div>
                     Région de Toulouse. <br> Métropôle comprenant 762.956 habitants. <br> Densité de job 11 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_babf661051dd49c3a2b4280db667038b = new L.RegularPolygonMarker(
                [43.6043, 1.4437],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 7.407339805825242, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_7fbe838bf0a44f04b3672758ed521fd8);
        
    
            regular_polygon_marker_babf661051dd49c3a2b4280db667038b.bindTooltip(
                `<div>
                     Région de Toulouse. <br> Métropôle comprenant 762.956 habitants. <br> Densité de job 1159 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
</script>