<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c6ae91fcd1634fcfa2e25599ce263054 {
                    position: relative;
                    width: 750.0px;
                    height: 750.0px;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-dvf/0.3.0/leaflet-dvf.markers.min.js"></script>
</head>
<body>    
    
            <div class="folium-map" id="map_c6ae91fcd1634fcfa2e25599ce263054" ></div>
        
</body>
<script>    
    
            var map_c6ae91fcd1634fcfa2e25599ce263054 = L.map(
                "map_c6ae91fcd1634fcfa2e25599ce263054",
                {
                    center: [47.0, 1.3],
                    crs: L.CRS.EPSG3857,
                    zoom: 5.55,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_598cbab35d1849cca3f10ebf57e28b77 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            var regular_polygon_marker_d9f9e5b2ead44fd5a22220c832f28258 = new L.RegularPolygonMarker(
                [48.864716, 2.349014],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 2.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 156.15033333333335, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_d9f9e5b2ead44fd5a22220c832f28258.bindTooltip(
                `<div>
                     Région de Paris. <br> Métropôle comprenant 7026.765 habitants. <br> Densité de job 5 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_48667fa16cf74907936a1e5bf5643f1e = new L.RegularPolygonMarker(
                [48.864716, 2.349014],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 92.45743421052632, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_48667fa16cf74907936a1e5bf5643f1e.bindTooltip(
                `<div>
                     Région de Paris. <br> Métropôle comprenant 7026.765 habitants. <br> Densité de job 455 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_2ff92fb34c764967847e3b526b5ab11e = new L.RegularPolygonMarker(
                [44.8333, -0.5667],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 2.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 17.4018, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_2ff92fb34c764967847e3b526b5ab11e.bindTooltip(
                `<div>
                     Région de Bordeaux. <br> Métropôle comprenant 783.081 habitants. <br> Densité de job 7 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_e8effd35225c45cc847aff210149615b = new L.RegularPolygonMarker(
                [44.8333, -0.5667],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 9.788512500000001, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_e8effd35225c45cc847aff210149615b.bindTooltip(
                `<div>
                     Région de Bordeaux. <br> Métropôle comprenant 783.081 habitants. <br> Densité de job 577 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_cef50d95876a442a8cfdb4fe0c08b9b4 = new L.RegularPolygonMarker(
                [45.75, 4.85],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 2.4, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 30.69664444444444, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_cef50d95876a442a8cfdb4fe0c08b9b4.bindTooltip(
                `<div>
                     Région de Lyon. <br> Métropôle comprenant 1381.349 habitants. <br> Densité de job 6 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_4448d9156aee4e318d23ee7aa5174f02 = new L.RegularPolygonMarker(
                [45.75, 4.85],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 18.417986666666668, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_4448d9156aee4e318d23ee7aa5174f02.bindTooltip(
                `<div>
                     Région de Lyon. <br> Métropôle comprenant 1381.349 habitants. <br> Densité de job 512 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_4a94536cd69e4469906694c225c8aa99 = new L.RegularPolygonMarker(
                [47.2173, -1.5534],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 4.8, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 14.198466666666668, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_4a94536cd69e4469906694c225c8aa99.bindTooltip(
                `<div>
                     Région de Nantes. <br> Métropôle comprenant 638.931 habitants. <br> Densité de job 12 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_e1aead6f82064be597e8f306d2b444e8 = new L.RegularPolygonMarker(
                [47.2173, -1.5534],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 8.874041666666669, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_e1aead6f82064be597e8f306d2b444e8.bindTooltip(
                `<div>
                     Région de Nantes. <br> Métropôle comprenant 638.931 habitants. <br> Densité de job 886 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_3209020f7e6b4299800326e73f675e1c = new L.RegularPolygonMarker(
                [43.6043, 1.4437],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#feb236", "fillOpacity": 4.4, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 70, "opacity": 1.0, "radius": 16.95457777777778, "rotation": 0, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_3209020f7e6b4299800326e73f675e1c.bindTooltip(
                `<div>
                     Région de Toulouse. <br> Métropôle comprenant 762.956 habitants. <br> Densité de job 11 pour 10.000 habitants
                 </div>`,
                {"sticky": true}
            );
        
    
            var regular_polygon_marker_2f7dfa759bef40249a92c7d23208d0d3 = new L.RegularPolygonMarker(
                [43.6043, 1.4437],
                {"bubblingMouseEvents": true, "color": "#feb236", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "numberOfSides": 4, "opacity": 1.0, "radius": 7.407339805825242, "rotation": 45, "stroke": true, "weight": 3}
            ).addTo(map_c6ae91fcd1634fcfa2e25599ce263054);
        
    
            regular_polygon_marker_2f7dfa759bef40249a92c7d23208d0d3.bindTooltip(
                `<div>
                     Région de Toulouse. <br> Métropôle comprenant 762.956 habitants. <br> Densité de job 1159 pour 10.000 chômeurs
                 </div>`,
                {"sticky": true}
            );
        
</script>