{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
<div class="container col-lg">
    <div class='row'>
        <a class='col-12' href='/'><h1>retour à l'acceuil</h1></a>
        <p>
            Show : notre problèmatique client.
            <br>
            Ici, une présentation de nos études et tests de modèles telle que : cross validation score chart. 
            <br>
            Explication par modèle testé des features mises en avant.
        </p>
    </div>
</div>
    
{% endblock %}