<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #feb236; padding: 1.5em;">
    <a class="navbar-brand title-text" href="#"><h4>Salary - Dashboard</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form name="dropdown-form" action="" method="POST">
            <select class="my-dropdown-menu" name="dropdown-select-dom" style="padding:8px;border-radius:8px;">
                <option value="all" {% if selected_class=='1' %} selected {% endif %}>all</option>
                <option value="data" {% if selected_class=='3' %} selected {% endif %}>data</option>
                <option value="dev" {% if selected_class=='3' %} selected {% endif %}>dev</option>
            </select>
            <select class="my-dropdown-menu" name="dropdown-select-loc" style="padding:8px;border-radius:8px;">
                <option value="All" {% if selected_class=='2' %} selected {% endif %}>All</option>
                <option value="Paris" {% if selected_class=='2' %} selected {% endif %}>Paris</option>
                <option value="Lyon" {% if selected_class=='3' %} selected {% endif %}>Lyon</option>
                <option value="Toulouse" {% if selected_class=='3' %} selected {% endif %}>Toulouse</option>
                <option value="Nantes" {% if selected_class=='3' %} selected {% endif %}>Nantes</option>
                <option value="Bordeaux" {% if selected_class=='3' %} selected {% endif %}>Bordeaux</option>
            </select>   
            <button class="submit-btn" type="submit">Apply</button>
        </form>
    </div>
</nav>