{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
<div class="container col-lg">
    <div class='row'>
        <a class='col-6' href='/graph'><h1>retour aux graphs</h1></a>
        <a class='col-6' href='/'><h1>retour à l'acceuil</h1></a>
    </div>
    <div class='row'>
        <div class='col-12' style='background-color: #feb236; padding: 1.5em;'>
            <div style='display: block; margin: auto;'>
                {% include "map.html" %}
            </div>
            <div style='display: block; margin: auto;'>
                <p>
                    * Mise en valeur des opportunités d'emploi dans les secteurs tech et data en France selon les différentes métropôles].
                    <br>
                    Source : <a href="https://fr.statista.com/statistiques/504301/taux-de-chomage-par-region-france/">Statistica</a>
                </p>
            </div>
        </div>
    </div>
</div>



{% endblock %}